.footer {
    padding-top: 7rem;
    padding-bottom: 20rem;

    &_grid {
        text-align: center;

        @include atMedium {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 2rem;

            & :nth-child(4) {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                text-align: center;
            }

            & :nth-child(5) {
                grid-column: 2 / 4;
                grid-row: 2 / 3;
                text-align: center;
            }
        }

        @include atLarge {
            display: flex;
            justify-content: space-between;
            text-align: left;

            & img {
                padding-top: 8px;
            }
    
            & div h4 {
                padding-bottom: 7px;
            } 
        }

        &_social_icons {
            justify-content: center;
            
            & a {
                padding: 0 8px;  
            }

            & :nth-child(3) {

                @include atMedium {
                padding-right: 0;

                }   
            }
        } 

        &_btn {
            text-align: center;

            @include atMedium {
            padding-left: 1.5rem !important;

            }  
        }
        
        & div {
            padding: 1rem 0;

            @include atMedium {
                padding: 0;
            }
        }
    }
}