$primaryBlue: #3a688a;
$white: white;
$black: black;

$headingFont: "Futura PT Bold", Arial, sans-serif;
$futuraNormal: "Futura PT Normal", Arial, sans-serif;

$textFont: "Montserrat", Arial, Helvetica, sans-serif;